:root {
  color-scheme: light dark;
  text-autospace: normal;

  @media (prefers-color-scheme: dark) {
    -webkit-font-smoothing: antialiased;
  }
}

body {
  margin: unset;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 1rem;
  font-weight: unset;
  line-height: 1.25;
  margin-block: unset;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

code {
  font-family: var(--monospace);
}
