<footer>
  <h3 data-i18n="footer.title">Built for developers</h3>
  <p>Copyright © 2026 RimSage. All Rights Reserved.</p>
  <p>RimWorld® is a registered trademark of Ludeon Studios.</p>
  <p>
    <a href="https://beian.miit.gov.cn/" target="_blank" rel="noopener noreferrer"
      >蜀ICP备2026006444号</a
    >
  </p>
</footer>
