:root {
  color-scheme: light dark;
  text-autospace: normal;
}

body {
  margin: unset;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

code {
  font-family: var(--monospace);
}
